body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(310px, auto);
    /* grid-template-columns:  */
    height:70vh;
    color: #000;
    justify-content: center;
    grid-gap: 1em;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    
}

.entry{
    background: rgba(252, 70, 64, 0.5);
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{
    
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 50px;
    width: 320px;
    background:#3eb;
    color: #000;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

button{
    width: 250px;
    height: 80px;
    background: #bac8e6;
    color: #00f;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
    display: inline;
}

textarea{
    background:#7bda22;
    color: #000;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #302f2d; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #3a3a39; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #302e23; 
    font-family: 'Oswald', sans-serif;
} 